body{
    font-family: "Microsoft Yahei","SimHei";
    background-color: rgb(235, 233, 210);
}

h1{
    color:rgb(175, 151, 72);
    text-align:center;
}

h3{
    color:rgb(156, 155, 59);
}

img {
    width: 25%;
    border-radius: 10px;
    float: left;
    margin: 10px;
}

.relative {
    position: relative;
    top: 10px;
}

.color{
    color:red;
}

.handw{
    font-size:200%;
}

.vi{
    visibility:hidden;
}

.fl{
    float: right;
}

.opa{
    opacity:0.5;
}
